.container-fluid {
    background-image: url(images/bg2.png);


}
.container-fluid {
    background-image: url(images/bg1.jpg);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #C2E7CA;
    color: #5BE84F;
}



.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #D3ECD7;
}
.container-fluid {
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
    color: #0D1877;
}
.container-fluid .container footer {
    background-color: #52C15A;
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
    background-color: #C3E3C7;
}
.card.col-md-12 .card-body .btn.btn-primary {
    background-color: #3DD748;
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    color: #6FE366;
}
